body {
	min-width: 640px;
	font-family: serif, sans-serif;
}

.border {
	border: 5px solid #ffcc99;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
}

.floatLeft {
	float: left;
}

#pulsing2 {
	margin-left: 300px;
}

.stretchBlock {
	display: block;
	width: 7em;
	height: 6em;
	color: #ffcc00;
	background-color: #6a5acd;
	transition: width 2s, height 2s;
	text-align: center;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	border: 3px solid #00ff00;
}

.stretchBlock:hover {
	width: 24em;
	height: 3em;
	border: 6px solid #00ff00;
}

.progressBarBackground {
	display: block;
	width: 600px;
	height: 4em;
	color: #ffcc00;
	background-color: #aaaaaa;
}

#progressBar1 {
	display: block;
	width: 20px;
	height: 4em;
	color: #ffcc00;
	background-color: #888888;
	transition: width 2s, background-color 2s;
	transition-timing-function: linear;
}

#progressBar1:hover {
	background-color: #6a5acd;
	width: 600px;
}

#downloadProgressBar {
	display: block;
	width: 0px;
	height: 4em;
	color: #ffcc00;
	background-color: #888888;
	transition: width 2s, background-color 2s;
	transition-timing-function: linear;
}

#downloadProgressBar.downloadInProgress {
	background-color: rgb(16,143,153);
	width: 600px;
}

.blockSpace {
	width: 250px;
	height: 200px;
}

@keyframes aniPulse1 {
	0% {
		background-color: red;
		color: #ffcc00;
		width: 240px;
		height: 200px;
		border-radius: 0px;
	}
	50% {
		background-color: purple;
		color: #aaaaaa;
		width: 120px;
		height: 100px;
		transform: translate(60px, 50px);
		border-radius: 50px;
	}
	100% {
		background-color: red;
		color: #ffcc00;
		width: 240px;
		height: 200px;
		border-radius: 0px;
	}
}

.aniPulse1 {
	width: 240px;
	height: 200px;
	animation-name: aniPulse1;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes aniPulse2 {
	0% {
		background-color: orange;
		color: #ffcc00;
		width: 240px;
		height: 200px;
		border-radius: 100px;
	}
	50% {
		background-color: blue;
		color: #aaaaaa;
		width: 120px;
		height: 100px;
		transform: translate(60px, 50px);
		border-radius: 0px;
	}
	100% {
		background-color: orange;
		color: #ffcc00;
		width: 240px;
		height: 200px;
		border-radius: 100px;
	}
}

.aniPulse2 {
	width: 240px;
	height: 200px;
	animation-name: aniPulse2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes aniRainbow {
	from {
		width: 0px;
	}
	to {
		width: 600px;
	}
	0% {
		background-color: #aaaaaa;
		color: purple;
	}
	8.325% {
		background-color: red;
		color: yellow;
	}
	16.65% {
		background-color: red;
		color: yellow;
	}
	24.975% {
		background-color: #ff8000;
		color: black;
	}
	33.3% {
		background-color: #ff8000;
		color: black;
	}
	41.625% {
		background-color: yellow;
		color: #505050;
	}
	49.95% {
		background-color: yellow;
		color: #505050;
	}
	58.275% {
		background-color: green;
		color: yellow;
	}
	66.6% {
		background-color: green;
		color: yellow;
	}
	74.925% {
		background-color: blue;
		color: white;
	}
	83.25% {
		background-color: blue;
		color: white;
	}
	91.575% {
		background-color: purple;
		color: #aaaaaa;
	}
	100% {
		background-color: purple;
		color: #aaaaaa;
	}
}

.aniRainbowProgressBar {
	width: 0px;
	height: 4em;
	color: purple;
	animation-name: aniRainbow;
	animation-duration: 3s;
	animation-iteration-count: 4;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

.marginSpace {
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 60px;
}

.pinkSpinBox1 {
	height: 50px;
	width: 90px;
	background-color: rgb(255,108,217);
	color: rgb(240,196,0);
	padding-top: 60px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
}

.spin1 {
	animation-name: spin1;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spin1 {
	0% {
		background-color: rgb(255,108,217);
		color: rgb(203,22,136);
		transform: perspective(200px) rotateY(0deg);
	}
	12.5% {
		background-color: rgb(231,112,255);
		color: rgb(203,22,136);
		transform: perspective(200px) rotateY(45deg);
	}
	25% {
		background-color: rgb(185,126,255);
		color: rgba(203,22,136,50%);
		transform: perspective(200px) rotateY(90deg);
	}
	37.5% {
		background-color: rgb(124,16,242);
		color: #a0a0a0;
		transform: perspective(200px) rotateY(135deg);
	}
	50% {
		background-color: rgb(84,0,176);
		color: #a0a0a0;
		transform: perspective(200px) rotateY(180deg);
	}
	62.5% {
		background-color: rgb(124,16,242);
		color: #a0a0a0;
		transform: perspective(200px) rotateY(225deg);
	}
	75% {
		background-color: rgb(185,126,255);
		color: #a0a0a0;
		transform: perspective(200px) rotateY(270deg);
	}
	87.5% {
		background-color: rgb(231,112,255);
		color: rgb(203,22,136);
		transform: perspective(200px) rotateY(315deg);
	}
	100% {
		background-color: rgb(255,108,217);
		color: rgb(203,22,136);
		transform: perspective(200px) rotateY(360deg);
	}
}

.pinkSpinBox2 {
	height: 40px;
	width: 130px;
	background-color: rgb(255,108,217);
	color: rgb(203,22,136);
	padding-top: 60px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	border-radius: 40px;
}

.spin2A {
	animation-name: spin2A;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spin2A {
	0% {
		background-color: rgb(255,108,217);
		color: rgb(203,22,136);
		transform: perspective(200px) rotateX(0deg) scale(1.5);
	}
	12.5% {
		background-color: rgb(231,112,255);
		color: rgb(203,22,136);
		transform: perspective(200px) rotateX(45deg) scale(1.25);
	}
	25% {
		background-color: rgb(185,126,255);
		color: rgba(203,22,136,50%);
		transform: perspective(200px) rotateX(90deg) scale(1);
	}
	37.5% {
		background-color: rgb(124,16,242);
		color: #a0a0a0;
		transform: perspective(200px) rotateX(135deg) scale(0.75);
	}
	50% {
		background-color: rgb(84,0,176);
		color: #a0a0a0;
		transform: perspective(200px) rotateX(180deg) scale(0.5);
	}
	62.5% {
		background-color: rgb(124,16,242);
		color: #a0a0a0;
		transform: perspective(200px) rotateX(225deg) scale(0.4);
	}
	75% {
		background-color: rgb(185,126,255);
		color: #a0a0a0;
		transform: perspective(200px) rotateX(270deg) scale(0.8);
	}
	87.5% {
		background-color: rgb(231,112,255);
		color: rgb(203,22,136);
		transform: perspective(200px) rotateX(315deg) scale(1.2);
	}
	100% {
		background-color: rgb(255,108,217);
		color: rgb(203,22,136);
		transform: perspective(200px) rotateX(360deg) scale(1.5);
	}
}

.spin2B {
	animation-name: spin2B;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spin2B {
	0% {
		background-color: rgb(255,108,217);
		color: rgb(203,22,136);
		transform: perspective(400px) rotateY(0deg) translate(120px) rotate(0deg);
	}
	12.5% {
		background-color: rgb(231,112,255);
		color: rgb(203,22,136);
		transform: perspective(400px) rotateY(45deg) translate(120px) rotate(45deg);
	}
	25% {
		background-color: rgb(185,126,255);
		color: rgba(203,22,136,50%);
		transform: perspective(400px) rotateY(90deg) translate(120px) rotate(90deg);
	}
	37.5% {
		background-color: rgb(124,16,242);
		color: #a0a0a0;
		transform: perspective(400px) rotateY(135deg) translate(120px) rotate(135deg);
	}
	50% {
		background-color: rgb(84,0,176);
		color: #a0a0a0;
		transform: perspective(400px) rotateY(180deg) translate(120px) rotate(180deg);
	}
	62.5% {
		background-color: rgb(124,16,242);
		color: #a0a0a0;
		transform: perspective(400px) rotateY(225deg) translate(120px)
		rotate(225deg);
	}
	75% {
		background-color: rgb(185,126,255);
		color: #a0a0a0;
		transform: perspective(400px) rotateY(270deg) translate(120px) rotate(270deg);
	}
	87.5% {
		background-color: rgb(231,112,255);
		color: rgb(203,22,136);
		transform: perspective(400px) rotateY(315deg) translate(120px) rotate(315deg);
	}
	100% {
		background-color: rgb(255,108,217);
		color: rgb(203,22,136);
		transform: perspective(400px) rotateY(360deg) translate(120px) rotate(360deg);
	}
}

#rainbowFlowerSpinner {
	margin-left: 180px;
}

.spin3 {
	animation-name: spin3;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spin3 {
	0% {
		transform: perspective(400px) rotateY(0deg) translate(160px) rotate(0deg);
	}
	12.5% {
		transform: perspective(400px) rotateY(45deg) translate(160px) rotate(90deg);
	}
	25% {
		transform: perspective(400px) rotateY(90deg) translate(160px) rotate(180deg);
	}
	37.5% {
		transform: perspective(400px) rotateY(135deg) translate(160px) rotate(360deg);
	}
	50% {
		transform: perspective(400px) rotateY(180deg) translate(160px) rotate(0deg);
	}
	62.5% {
		transform: perspective(400px) rotateY(225deg) translate(160px)
		rotate(900deg);
	}
	75% {
		transform: perspective(400px) rotateY(270deg) translate(160px) rotate(0deg);
	}
	87.5% {
		transform: perspective(400px) rotateY(315deg) translate(160px) rotate(1260deg);
	}
	100% {
		transform: perspective(400px) rotateY(360deg) translate(160px) rotate(0deg);
	}
}

.pinkSpinBox3 {
	height: 50px;
	width: 90px;
	background-color: rgb(255,108,217);
	color: rgb(203,22,136);
	padding-top: 60px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	margin-left: 40px;
}

#spinBtns2A {
	float: left;
	margin-right: 10px;
}

#spinBtns2B {
	float: left;
	margin-right: 80px;
}

#pinkSpinBox2 {
	float: left;
}

.startSpin {
	background-color: rgb(10,156,54);
	color: rgb(206,255,155);
	padding: 8px;
}

.stopSpin {
	background-color: rgb(134,0,60);
	color: rgb(255,202,206);
	padding: 8px;
}

#startDownload {
	background-color: rgb(10,156,54);
	color: rgb(206,255,155);
	padding: 8px;
}

#cancelDownload {
	background-color: rgb(134,0,60);
	color: rgb(255,202,206);
	padding: 8px;
}

#pauseDownload, #resumeDownload {
	background-color: rgb(72,62,255);
	color: rgb(199,240,255);
	padding: 8px;
}

#clearDownload {
	background-color: rgb(118,34,0);
	color: rgb(255,219,183);
	padding: 8px;
}

.displayNone {
	display: none;
}

.clrFloats {
	clear: both;
}
