body {
	font-family: Verdana, sans-serif;
	font-size: 1em;
}
.background {
	background-color: white;
	min-height: 600px;
}

.listA {
	list-style-type: decimal;
	margin-left: 2em;
}

.para1 {
	color: green;
}

.para2 {
	color: #ff6600;
}

.para3 {
	color: #ff3399;
	font-size: 1.5em;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}